################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Paint/FileContentIndex/merges/d5f153ed-cc5c-4e5e-b78c-fe7f4a252ba5.vsidx
/.vs/Paint/FileContentIndex/037dc0e1-79de-47da-b2de-ad530112b25c.vsidx
/.vs/Paint/FileContentIndex/097a3aaa-a7cf-4f47-a7b6-8cf2474ccbd8.vsidx
/.vs/Paint/FileContentIndex/097a3aaa-a7cf-4f47-a7b6-8cf2474ccbd8.vsidx
