################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Paint/FileContentIndex/merges/d5f153ed-cc5c-4e5e-b78c-fe7f4a252ba5.vsidx
/.vs/Paint/FileContentIndex/037dc0e1-79de-47da-b2de-ad530112b25c.vsidx
/.vs/Paint/FileContentIndex/097a3aaa-a7cf-4f47-a7b6-8cf2474ccbd8.vsidx
/.vs/Paint/FileContentIndex/097a3aaa-a7cf-4f47-a7b6-8cf2474ccbd8.vsidx
/.vs/Paint/FileContentIndex/15dfc600-2bf4-419e-8140-82f57f2c01b9.vsidx
/.vs/Paint/FileContentIndex/15dfc600-2bf4-419e-8140-82f57f2c01b9.vsidx
/.vs/Paint/FileContentIndex/37ce6280-667f-420b-8fc3-394b9eca8479.vsidx
/.vs/Paint/FileContentIndex/8210af20-4510-4c7f-b5a3-10fe9a0c1fbf.vsidx
/.vs/Paint/FileContentIndex/8b6d4c19-c193-4f15-939d-205c3917b5e5.vsidx
/.vs/Paint/FileContentIndex/d1d2dc7b-a059-4a70-aa46-e32ffc7faff6.vsidx
*.vsidx
/.vs/Paint/FileContentIndex/55c035fc-4360-4e08-b85f-efe290de835e.vsidx
/.vs/Paint/FileContentIndex/561d09b4-daef-4f88-a8cb-8a08aa219f5a.vsidx
/.vs/Paint/FileContentIndex/aed02cf9-408e-434d-9826-693892fc43b1.vsidx
/.vs/Paint/FileContentIndex/7fde3cf1-c394-4ff1-864b-5543eea9f66f.vsidx
/.vs/Paint/FileContentIndex/c274431d-eed9-4d19-b1ec-fcc19f1cd5de.vsidx
/.vs/Paint/FileContentIndex/e62f003b-3c39-4f90-a403-fd8a62394dec.vsidx
/.vs/Paint/v17/.suo
/Paint/bin/Debug/Paint.exe
/Paint/bin/Debug/Paint.pdb
/Paint/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Paint/obj/Debug/Paint.csproj.AssemblyReference.cache
/Paint/obj/Debug/Paint.csproj.FileListAbsolute.txt
/Paint/obj/Debug/Paint.csproj.CoreCompileInputs.cache
/Paint/obj/Debug/Paint.csproj.GenerateResource.cache
/Paint/obj/Debug/Paint.exe
/Paint/obj/Debug/Paint.Form1.resources
/Paint/obj/Debug/Paint.pdb
/Paint/Form1.resx
/.vs/Paint/FileContentIndex/write.lock
